.gp-calendar {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 45%);
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 10px;
    transition: 0.4s;
    margin-bottom: 30px;
}

.gp-calendar:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.gp-name {
    font-size: 18px;
    color: #bf1e2d;
    text-align: center;
    padding-top: 10px;
}

.gp-info {
    font-size: 15px;
    text-align: center;
}

.calendar-button {
    margin: 15px 0;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #bf1e2d;
    transition: 0.4s;
}

.calendar-button:hover {
    color: #bf1e2d;
    background-color: #fff;
    transition: 0.4s;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 45%);
}